    <form action="#" method="post" id="search">
      <div class="field-holder">
        <input type="text" class="field" value="Search" title="Search" />
      </div>
      <input type="submit" class="button" value="Search" />
      <div class="cl">&nbsp;</div>
    </form>
