  <!-- Footer -->
  <div id="footer">
    <%=render_view_component(row1) if current_view_component.has?(:row1)%>
    <%=render_view_component(row2) if current_view_component.has?(:row2)%>
    <div class="cl">&nbsp;</div>
  </div>
  <!-- END Footer -->
