<div id="header">
  <div class="cl">&nbsp;</div>
  <%=render_view_component(left) if current_view_component.has?(:left)%>
  <%=render_view_component(right) if current_view_component.has?(:right)%>
  <div class="cl">&nbsp;</div>
  <%=render_view_component(center) if current_view_component.has?(:center)%>
</div>